Include
Lib
Scripts
pyvenv.cfg
pip-selfcheck.json
ticker_finder.exe
.idea
__pycache__
tickers
alert.log
test_logs.log
go1.11.4.linux-amd64.tar.gz
stocker_alerts_bot.log
alert-task.log
hooks-log.log
telegram-task.log
*.png
low_floaters.csv
